.recommendationCard {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;

  .recommendation {
    display: none;
    text-align: center;
  }

  .recommendation.active {
    display: block;
  }
}
