.titleCard {
  height: 200px;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  animation: scroll 10s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  @keyframes scroll {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
}
