@font-face {
  font-family: 'Orpheus Pro';
  src:
    url('../../public/fonts/OrpheusPro/OrpheusPro.woff2') format('woff2'),
    url('../../public/fonts/OrpheusPro/OrpheusPro.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  src:
    url('../../public/fonts/Poppins/Poppins.woff2') format('woff2'),
    url('../../public/fonts/Poppins/Poppins.woff') format('woff');
}
