@import url('leaflet/dist/leaflet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-orpheus-pro: 'Orpheus Pro', serif;
  --font-poppins: 'Poppins', sans-serif;
}

* {
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  color: var(--font-color-primary);
}

body {
  font-family: var(--font-poppins);
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

.font-title {
  font-family: var(--font-orpheus-pro);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
