@import url('leaflet/dist/leaflet.css');
@import url('devicon/devicon.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color-primary: #fff;
}

* {
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  color: var(--font-color-primary);
}
